.event {
  width: 100%;
  padding: 2.5rem;
  
  display: flex;
  justify-content: space-around;
  
  @include respond(laptop) {
    flex-direction: column;
  }
  
  &__info {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  
  &__title {
    font-size: 5rem;
    color: $color-grey-dark;
    line-height: 1.3;
  }
  
  &__venue {
    
  }
  
  &__location {
    font-size: 3rem;
    color: $color-primary;
  }
  
  &__time {
    font-size: 2.5rem;
    color: $color-primary;
  }
  
  &__signup {
    font-size: 1.8rem;
    color: $color-grey-dark;
    
    &--text {
      margin-right: 1rem;
    }
    
    &--start {
      color: $color-primary;
    }
    
    &--end {
      color: $color-primary;
    }
  }
  
  &__spots {
    color: $color-grey-dark;
    font-size: 1.8rem;
    
    &--number {
      color: $color-primary;
      margin-left: 1rem;
    }
  }
  
  &__description {
    font-size: 2rem;
    color: $color-grey-dark;
  }
  
  &__map {
    height: 60rem;
    width: 60rem;
    
    margin: 2rem;
  }
}
