.hosted__events {
  padding: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  grid-row-gap: 2.5rem;
  grid-column-gap: 2.5rem;
  
  @include respond(mobile) {
    padding: 0;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }
  
  &__event {
    
  }
}