<div class="home">
  <nav class="nav">
    <div class="logo-container">
      <a href="/"><svg class="logo"><use xlink:href="img/sprite.svg#logo"></use></svg></a>
    </div>
    <div class="user-menu">
      <div class="user-menu__photo-container"><img class='user-menu__photo' ng-src="{{ user.gravatar }}?d=identicon" alt="User photo"></div>
      <div class="user-menu__name">{{ user.username }}</div>
      <svg class="user-menu__caret"><use xlink:href="img/sprite.svg#downward-carrot"></use></svg>
    </div>
  </nav>
  <div class="dropdown">
    <span class="dropdown-item" ng-click="logout()">Logout</span>
  </div>
  
  <div class="home__content">
    <div class="sidebar">
      <a href="#!/dashboard" class="sidebar__item">
        <svg class="sidebar__icon"><use xlink:href="img/sprite.svg#home"></use></svg>
        <span class="sidebar__text">Home</span>
      </a>
      <a href="#!/dashboard" class="sidebar__item">
        <svg class="sidebar__icon"><use xlink:href="img/sprite.svg#near-me"></use></svg>
        <span class="sidebar__text">Events Near Me</span>
      </a>
      <a href="#!/dashboard" class="sidebar__item">
        <svg class="sidebar__icon"><use xlink:href="img/sprite.svg#my-open-mics"></use></svg>
        <span class="sidebar__text">My Open Mics</span>
      </a>
      <a href="#!/hosted" class="sidebar__item">
        <svg class="sidebar__icon"><use xlink:href="img/sprite.svg#hosted-by-me"></use></svg>
        <span class="sidebar__text">Hosted By Me</span>
      </a>
    </div>
    
    <div class="home__content__main">
      <div class="hosted__events" >
        <event-card></event-card>
      </div>
    </div>
  </div>
</div>

<!--makes the dropdown menu work and it has to go here-->
<script type="text/javascript">
  $('.user-menu').on('mouseenter', function() {
    $('.dropdown').addClass('drop');
  });
  
  $('.dropdown').on('mouseenter', function() {
    $('.user-menu').addClass('darken');
  }); 
  
  $('.user-menu').on('mouseleave', function() {
    $('.dropdown').removeClass('drop');
  });
  
  $('.dropdown').on('mouseleave', function() {
    $('.user-menu').removeClass('darken');
  }); 
  
  $('#host-event').on('click', function() {
    $('#popup1').css({ visibility: 'visible', opacity: 1 });
  });
  
</script>