<div class="event" id="event">
  <div class="event__info">
    <span class="event__title">{{ event.name }}</span>
    <span class="event__venue" ng-if="event.venue">{{ event.venue }}</span>
    <span class="event__location">{{ event.location }}</span>
    <span class="event__time">{{ event.time_start | date: 'MMM d, y h:mm a' }}</span>
    <div class="event__signup">
      <span class="event__signup--text">Signup Window - </span>
      <span class="event__signup--start">{{ event.signup_start | date: 'MMM d, y h:mm a' }}</span> to
      <span class="event__signup--end">{{ event.signup_end | date: 'MMM d, y h:mm a' }}</span>
    </div>
    <span class="event__spots">Spots remaining - <span class="event__spots--number">{{ event.spots_left }}</span></span>
    
    <span class="event__description">{{ event.description }}</span>
  </div>
  
  <div class="event__map" id='map'></div>
  
  <script type="text/javascript">
    function initMap() {
      // wrap logic in a timeout function to give angular enough time to populate the scope
      setTimeout(function() {
        var element = angular.element(document.getElementById('event')).scope().event;
        var location = element.geocode;
        var label = {
          text: element.venue,
          color: '#51606b',
          fontWeight: 'bold'
        };
        
        var image = {
          url: '/img/opem-icon.png',
          labelOrigin: new google.maps.Point(0, -15),
        };
        
        var map = new google.maps.Map(document.getElementById('map'), { zoom: 16, center: location });
        var marker = new google.maps.Marker({ position: location, map: map, label: label, icon: image });
      }, 500);
    }
    //labelOrigin: new google.maps.Point(20, 20)
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5D5t3oZcqu9xK2Wr0SRNj50dhj2Xh2NM&callback=initMap">
  </script>

</div>