<div class="home">
  <nav class="nav">
    <div class="logo-container">
      <a href="/#!/login"><svg class="logo"><use xlink:href="img/sprite.svg#logo"></use></svg></a>
    </div>
    <div class="user-menu">
      <div class="user-menu__photo-container"><img class='user-menu__photo' src="img/boobus.jpg" alt="User photo"></div>
      <div class="user-menu__name">Jory Schmidt</div>
      <svg class="user-menu__caret"><use xlink:href="img/sprite.svg#downward-carrot"></use></svg>
    </div>
  </nav>
  
  <div class="home__content">
    <div class="sidebar">
      <a href="#" class="sidebar__item">
        <svg class="sidebar__icon"><use xlink:href="img/sprite.svg#home"></use></svg>
        <span class="sidebar__text">Home</span>
      </a>
      <a href="#" class="sidebar__item">
        <svg class="sidebar__icon"><use xlink:href="img/sprite.svg#near-me"></use></svg>
        <span class="sidebar__text">Events Near Me</span>
      </a>
      <a href="#" class="sidebar__item">
        <svg class="sidebar__icon"><use xlink:href="img/sprite.svg#my-open-mics"></use></svg>
        <span class="sidebar__text">My Open Mics</span>
      </a>
      <a href="#" class="sidebar__item">
        <svg class="sidebar__icon"><use xlink:href="img/sprite.svg#hosted-by-me"></use></svg>
        <span class="sidebar__text">Hosted By Me</span>
      </a>
    </div>
    
    <div class="home__events">
      
      <!--this div will end up as a form-->
      <div class="home__events__search-bar">
        <svg class="home__events__search-bar-icon"><use xlink:href="img/sprite.svg#search"></use></svg>
        <span class="home__events__search-bar-text">Search For Event</span>
      </div>
      
      <div class="btn home__events__btn home__events__btn--search">Search</div>
      <span class="home__events--span">or</span>
      <div class="btn home__events__btn home__events__btn--host">Host An Event</div>
    </div>
  </div>
</div>
