.event-card {
  display: block;
  cursor: default;
  position: relative;
  
  
  width: 30rem;
  border-radius: $def-border-radius;
  box-shadow: var(--box-shadow);
  padding-top: 2rem;
  
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  
  &__heading {
    display: flex;
    width: 100%;
    
    &--text {
      max-width: 80%;
      text-transform: uppercase;
      margin-left: 2rem;
      color: $color-grey-dark;
    }
  }
  
  &__venue {
    margin-left: 2rem;
    color: $color-primary;
    margin-bottom: 1rem;
    max-width: 70%;
  }
  
  &__date {
    margin-left: 2rem;
    
    &--day {
      
    }
    
    &--calendar {
      color: $color-grey;
      margin-right: 4px;
    }
    
    &--remaining {
      color: $color-primary;
    }
    
    &--time {
      color: $color-grey;
    }
  }
  
  &__spots {
    margin: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-grey-light;
    color: $color-grey-dark;
    border-radius: $def-border-radius;
  }
  
  &__view {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    text-transform: uppercase;
    color: white;
    height: 6rem;
    cursor: pointer;
  }
}

.pencil-glyph {
  transform: rotate(90deg);
  position: absolute;
  color: $color-grey;
  top: 1rem;
  right: 1rem;
}