<div class="event-card">
  <span class="event-card__heading">Comedy open mic night <div class="pencil-glyph">&#9998;</div></span>
  <span class="event-card__venue">At <span class="venue--name">Ethyl's bar</span></span>
  <div class="event-card__date">
    <div class="event-card--day">
      <span class="event-card__date--calendar">November 3rd, 2018</span>
      <span class="event-card__date--remaining">4 days</span>
    </div>
    
    <span class="event-card__date--time">9pm - 12am</span>
  </div>
  
  <div class="event-card__spots">25 of 25 spots remaining</div>
  <div class="event-card__view">View</div>
</div>