<div class="event-card">
  <span class="event-card__heading">{{ event.name }} <div class="pencil-glyph">&#9998;</div></span>
  <span class="event-card__venue">At <span class="venue--name">{{ event.location }}</span></span>
  <div class="event-card__date">
    <div class="event-card--day">
      <span class="event-card__date--calendar">{{ event.calendar }}</span>
      <span class="event-card__date--remaining">{{ remaining }}</span>
    </div>
    
    <span class="event-card__date--time">{{ event.time }}</span>
  </div>
  
  <div class="event-card__spots">{{ event.spots_left }} of {{ event.spots }} spots remaining</div>
  <div class="event-card__view">View</div>
</div>